.list-speeches-container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.list-speeches-container table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 70px;
}

.list-speeches-container table tr {
    height: 50px;
    font-weight: bold;
}

.list-speeches-container table td button.startSpeech {
    background-color: rgb(1, 134, 1);
    border: 1px solid green;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.list-speeches-container table td button.startSpeech:hover {
    background-color: rgb(2, 180, 2);
    border: 1px solid forestgreen;
}
.list-speeches-container table td button.startSpeech:click {
    background-color: rgb(2, 29, 180);
    border: 1px solid forestgreen;
}

.list-speeches-container tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px; 
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    box-shadow: 0 0 1em #aaaaaa;
    font-size: 30px;
    font-weight: bolder;
}

div.container {
    width: 80%;
    margin: 0 auto;
}

.footer-white {
    background-color: #f0f0f0;
    color: black;
}

.footer-red {
    background-color: red;
    color: white;
}

.footer-black {
    background-color: black;
    color: white;
}

footer div.speech-details {
    height: 40px;
    width: 30%;
    background-color: white;
    color: black;
    display: none;
}

footer div.clock-functions {
    height: 40px;
    width: 30%;
    background-color: white;
    color: black;
    display: none;
}

footer div.clock-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div.clock-stop {
    height: 20px;
    width: 20px;
    background-color: gray;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}